<h1 class="text-[#8E8D8A] py-4 text-center text-sm fixed bottom-0 left-0 w-full bg-[#EAE7DC]">
    2025 | 
    <a href="https://www.linkedin.com/" class="text-[#E85A4F] hover:text-[#E98074] transition-colors">LinkedIn</a> | 
    <a href="/contact" class="text-[#E85A4F] hover:text-[#E98074] transition-colors">Контакты</a>
  </h1>
  
  