---
import Button from "./Button.astro";
---

<div class="w-full flex space-x-5 h-20 pt-4 pb-4">
  <Button href="/" text="Главная" />
  <Button href="/about" text="Обо мне" />
  <Button href="/projects" text="Проекты" />
  <Button href="/contact" text="Контакты" />
</div>
