---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro" 
import '../styles/global.css';
import '@fontsource-variable/caveat';


---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Personal web</title>
	</head>
	<body class="bg-[#EAE7DC] m-0 p-0 h-screen flex flex-col items-center">
		
		<slot />
		
	</body>
</html>


